### Crear un vector de ceros de tamaño 10

In [1]:
import numpy as np

In [2]:
vectorCeros = np.zeros(10)
vectorCeros

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

### Crear un vector de ceros de tamaño 10 y el de la posicion 5 sea igual a 1

In [4]:
vectorCeros = np.zeros(10)
vectorCeros[5]=1
vectorCeros

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.])

### Cambiar el orden de un vector de 50 elementos, el de la posicion 1 es el de la 50 etc.

In [10]:
vector50 = np.arange(51)
vector50

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

### Crear una matriz de 3 x 3 con valores del cero al 8

In [11]:
Matriz = np.arange(9).reshape(3,3)
print(Matriz)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

### Encontrar los indices que no sean cero en un arreglo

In [14]:
arreglo = [1,2,0,0,4,0]
for indice,valor in enumerate(arreglo):
    if(valor>0):
        print('Indice {}:{}'.format(indice,valor))

Indice 0:1
Indice 1:2
Indice 4:4

### Crear una matriz de identidad 3 x 3

In [15]:
matrizIdentidad = np.eye(3)
matrizIdentidad

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Crear una matriz 3 x 3 x 3 con valores randomicos

In [29]:
matriz3x3x3 = np.random.randint(1,100,27)
matriz = np.array(matriz3x3x3)
matriz.reshape(3,3,3)

array([[[92, 85,  9],
        [57, 78, 64],
        [10, 33, 46]],

       [[ 7, 82, 59],
        [28, 10, 57],
        [45,  1, 52]],

       [[49, 63, 97],
        [35, 48, 40],
        [39, 32, 37]]])

### Crear una matriz 10 x 10 y encontrar el mayor y el menor

In [32]:
matriz10x10 = np.random.randint(1,1000,100)
matriz = np.array(matriz10x10)
matriz.reshape(10,10)
print("Mayor",matriz.max())
print("Menor",matriz.min())

Mayor 999
Menor 34

### Sacar los colores RGB unicos en una imagen (cuales rgb existen ej: 0, 0, 0 - 255,255,255 -> 2 colores)

### ¿Como crear una serie de una lista, diccionario o arreglo?

In [35]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
print(mylist)
print(myarr)
print(mydict)

['a', 'b', 'c', 'e', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25]
{'a': 0, 'b': 1, 'c': 2, 'e': 3, 'd': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

In [36]:
import pandas as pd

In [37]:
serie_de_una_lista = pd.Series(mylist)
print(serie_de_una_lista)
serie_de_un_diccionario = pd.Series(mydict)
print(serie_de_un_diccionario)
serie_de_un_arreglo = pd.Series(myarr)
print(serie_de_un_arreglo)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

### ¿Como convertir el indice de una serie en una columna de un DataFrame?

In [38]:
ser = pd.Series(mydict)
ser

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [42]:
dataFrame =pd.DataFrame()
dataFrame.append(ser,ignore_index=True)

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
0,0.0,1.0,2.0,4.0,3.0,5.0,6.0,7.0,8.0,9.0,...,16.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0

### ¿Como combinar varias series para hacer un DataFrame?

In [51]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
ser3 = pd.concat([ser1, ser2], axis=1)
ser3

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

### ¿Como obtener los items que están en una serie A y no en una serie B?

In [65]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
resultado = ser1.isin(ser2)
resultado

0    False
1    False
2    False
3     True
4     True
dtype: bool

### ¿Como obtener los items que no son comunes en una serie A y serie B?

In [67]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
resultado1 = ser1.isin(ser2)
resultado2 = ser2.isin(ser1)
resultado3 = resultado1.isin(resultado2)
resultado3

0    True
1    True
2    True
3    True
4    True
dtype: bool

### ¿Como obtener el número de veces que se repite un valor en una serie?

In [68]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser

0     d
1     a
2     e
3     d
4     g
5     e
6     g
7     f
8     e
9     e
10    c
11    b
12    g
13    f
14    c
15    c
16    c
17    h
18    b
19    a
20    f
21    f
22    g
23    c
24    e
25    e
26    d
27    c
28    b
29    b
dtype: object

In [69]:
ser.value_counts()

e    6
c    6
f    4
g    4
b    4
d    3
a    2
h    1
dtype: int64

### ¿Como mantener los 2 valores más repetidos de una serie, y a los demás valores cambiarles por 0?

In [70]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     1
1     1
2     1
3     3
4     4
5     2
6     3
7     2
8     3
9     4
10    2
11    1
dtype: int32

### ¿Como transformar una serie de un arreglo de numpy a un DataFrame con un shape definido?

In [85]:
ser = pd.Series(np.random.randint(1, 10, 35))

### ¿Obtener los valores de una serie conociendo la posicion por indice?

In [76]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
# a e i o u

In [77]:
ser.iloc[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

### ¿Como anadir series vertical u horizontalmente a un DataFrame?

In [78]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [80]:
print('Datos horizontal')
datosHorizontal =pd.DataFrame()
datosHorizontal.append(ser1,ignore_index=True)

Datos horizontal

     0    1    2    3    4
0  0.0  1.0  2.0  3.0  4.0

In [83]:
print('Datos vertical')
datosVertical = pd.DataFrame()
datosVertical = pd.concat([ser1, ser2], axis=1)
datosVertical

Datos vertical

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

### ¿Obtener la media de una serie agrupada por otra serie?

In [84]:
frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
pesos = pd.Series(np.linspace(1, 10, 10))
print(pesos.tolist())
print(frutas.tolist())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['manzana', 'zanahoria', 'zanahoria', 'banana', 'banana', 'zanahoria', 'manzana', 'zanahoria', 'manzana', 'banana']